body {
  margin:0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
}

h1 {
  margin: 0;
  padding: 30px;
  font-size: 150%;
  color: #000;
  /*text-indent: -9000px;*/
}

h2 {
  margin: 0 10px;
  padding: 2px;
  font-size: 130%;
  color: #000;
  background: #E5E2A9;
  /*text-indent: -9000px;*/
}

h3 {
  margin: 10px 5px 0 5px;
  padding: 2px;
  font-size: 92%;
}


#wrapper {
  width: 750px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  background: #D7D493;
}

#header {
  width: 750px;
  height: 170px;
  background: url('../images/header.gif');
}

#primaryContent {
  width: 750px;
  /**/float: left;
  display: inline;
  background: #f00;
  margin: 0 0 20px 0;
}

#nav {
  width: 750px;
  height: 35px;
  padding: 0;
  font: 90% bold;
}

#nav {
  padding: 0;
  list-style: none;
  border: none;
}

#nav ul {
  list-style: none;
}

#nav li {
  margin: 0;
  float: left;
  diaplay: block;
  width: auto;
}

#nav li a {
  padding: 10px;
  margin: 0;
  diaplay: inline;
  width: auto;
  color: #D7D493;
  background: #000;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#nav li a:hover {
  color: #000;
  background: #D7D493;
}

#nav li ul li{
  float:none;
  padding: 11px;
  margin-left: -12px;
}

#nav li ul li a{
  border-bottom:1px solid #fff;
}

